<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Tizzen!</h1>
            <p>Simple and Effective, start your online business and spread out your brand today!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Sell new item</a>
            </p>
            <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="input-group">
                        <input type="text" name="search" placeholder="Anything you like... " class="form-control">
                        <span class="input-group-btn">
                            <input type="submit" value="Search" class="btn btn-default">
                        </span>
                    </div><!-- /input-group -->
                </form>
            </p>
        </div>
    </header>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#">Social Trading</a></li>
        <li role="presentation" class="active"><a href="#">Social Store</a></li>
    </ul>
    <div class="row " style="display: flex; flex-wrap: wrap; margin-top: 25px;">
        <% campgrounds.forEach(function(each){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src=<%= each.image %>>
                    <div class="caption">
                        <h3><%= each.name %></h3>
                        <h5><strong>$ <%= each.price %></strong> by <a href="#"> <%= each.author.username %></a>, <%= moment(each.createdAt).fromNow() %></h5>
                        <h5><%= each.location %></h5>
                        <hr class="style13">
                        <p><%= each.description.slice(0,100) %></p>
                        <p>
                            <a href="/campgrounds/<%= each._id%>" class="btn btn-primary">More</a>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>