<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><i class="utensils icon"></i>Welcome to Tizzen!</h1>
            <p>The business at your kitchen</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/foods/new">Add new Food post</a>
            </p>
            <p>
              <form action="/foods" method="GET" class="form-inline" id="food-search">
                <div class="form-group ui search icon input">
                  <input type="text" name="search" placeholder="Anything you like ..." class="prompt">
                  <i class="search icon"></i>
                </div>
              </form>
            </p>
        </div>
    </header>
    <div class="row " style="display: flex; flex-wrap: wrap; margin-top: 25px;" id="campground-grid">
        <% foods.forEach(function(each){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <% each.timestring = moment(each.createdAt).fromNow()%>
                    <img src=<%= each.image %>>
                    <div class="caption">
                        <h3><%= each.name %></h3>
                        <h5><strong>$ <%= each.price %></strong> by <a href="/users/<%= each.author.id %>"> <%= each.author.username %></a>, <%= each.timestring %></h5>
                        <h5><%= each.location %></h5>
                        <hr class="style13">
                        <p><%= each.description.slice(0,100) %>...</p>
                        <p>
                            <div>
                                <form style="display: inline-block" action="/foods/addview/<%=each._id%>?_method=PUT" method="POST">
                                    
                                    <%   each.timestring = moment(each.createdAt).fromNow();%>
                                    <input class="hide" name="datelist" value="<%= each.timestring %>">
                                    
                                    <!--<button class="ui primary basic button">View</button>-->
                                    <div class="ui primary labeled button" tabindex="0">
                                      <button class="ui basic primary button">
                                        <i class="book icon"></i> View
                                      </button>
                                      <div class="ui basic blue left pointing label">
                                        <%= each.seen %>
                                      </div>
                                    </div>
                                </form>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>