<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item active">Food Info</li>
                <li class="list-group-item"><a href="/users/<%= food.author.id %>">About Chef</a></li>
            </div>
            <div id="map"></div>
            <div class="ui raised segment">
                <form action="/foods/<%= food._id %>/ratings" method="POST">
                    <div class="form-group">
                        <label for="rating">Rate this product:</label>
                        <fieldset class="starability-basic form-group" id="rating">
                          <input type="radio" id="first-rate5" name="rating[rating]" value="5" />
                          <label for="first-rate5" title="Amazing">5 stars</label>
                          <input type="radio" id="first-rate4" name="rating[rating]" value="4" />
                          <label for="first-rate4" title="Very good">4 stars</label>
                          <input type="radio" id="first-rate3" name="rating[rating]" value="3" />
                          <label for="first-rate3" title="Average">3 stars</label>
                          <input type="radio" id="first-rate2" name="rating[rating]" value="2" />
                          <label for="first-rate2" title="Not good">2 stars</label>
                          <input type="radio" id="first-rate1" name="rating[rating]" value="1" />
                          <label for="first-rate1" title="Terrible">1 star</label>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary">
                            Submit rating!
                        </button>
                    </div>
                </form>
                <div>
                    Current Rating: <%= food.rating.toFixed(2) %>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src=<%= food.image %>>
                <div class="caption-full">
                    <h2 class="pull-right"><strong>$<%= food.price %></strong></h2>
                    <h2><a><%= food.name%></a></h2>
                    <h4><%= food.description %></h4>
                    <p>
                        <em>Submitted By <a href="/users/<%= food.author.id %>"><%=food.author.username %></a>, <%= moment(food.createdAt).fromNow() %></em>
                    </p>
                    <% if(currentUser && food.author.id && food.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin === true){ %>
                        <a class="btn btn-xs btn-warning" href="/foods/<%= food._id%>/edit">Edit</a>
                        <form class="delete-form" action="/foods/<%= food._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div style="margin-top:10%" class="ui threaded comments">
                <div class="ui dividing header">
                    <h5>COMMENTS ﹣ <%= food.comments.length%></h5>
                </div>
                <% if(currentUser){ %>
                <div>
                    <a href="/users/<%=currentUser._id %>">
                        <img style="float:left;" class="add-reply-avatar" src="<%=currentUser.avatar%>">
                    </a>
                    <form class="answer-box" action="/foods/<%=food._id %>/comments" method="POST">
                        <textarea required class="add-reply" name="comment[text]" placeholder="Add a public comment..."></textarea>
                        <button style="float:left;margin-left:72.5%;" class="ui mini button hidden-button submit">Add Comment</button>
                    </form>
                        <button class="ui mini button hidden-button cancel-button">Cancel</button>
                </div>
                <hr class="style1">
                <% } else { %>
                <a style="padding-top:5px; padding-bottom:10px;" class="btn btn-success" href="/foods/<%= food._id %>/comments/new">Add New Comment</a>
                <% }%>
                <% food.comments.forEach(function(comment){%> 
                    <div class="row comment">
                            <a class="avatar">
                                 <img class="header-avatar" src="<%=comment.author.avatar%>">
                            </a>
                            <div class="content">
                                <a class="author" href="/users/<%=comment.author.id%>"><strong><%= comment.author.username %></strong></a>
                                <div class="metadata">
                                    <span class="date"><%= moment(comment.createdAt).fromNow() %></span>
                                </div>
                                <div class="text">
                                    <%= comment.text %>
                                </div>
                                <div class="actions">
                                <% if(currentUser && comment.author.id &&comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin === true){ %>
                                    <a class="reply" 
                                        href="/foods/<%= food._id %>/comments/<%=comment._id %>/edit">
                                        Edit
                                    </a>
                                    <form class="delete-form" action="/foods/<%=food._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="ui mini icon button" value="Delete">
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <hr class="style1">
            </div>
        </div>
    </div>
</div>

<script>
  function initMap() {
    var lat = <%= food.lat %>;
    var lng = <%= food.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= food.name %><br />
      <%= food.location %></strong>
      <p><%= food.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwEU_CO0VYBQNtOxdlRoMIjAkoKIATabg&callback=initMap"></script>


<% include ../partials/footer %>