<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="ui main text col-md-4">
			<div class="ui massive header" style="margin-top: 20px;">
				Selling list
				<% if(currentUser && currentUser._id.equals(user.id) || currentUser && currentUser.isAdmin === true){ %>
					<div style="margin-top:3.5%;">
						<a class="ui primary basic button" href="/campgrounds/new" style="display:inline-block;"><i class="add square icon"></i> Add New</a>
						<a class="ui brown basic button delete-form" href="/users/<%= user._id%>/edit"><i class="write icon"></i> Edit My Profile</a>
					</div>
				<% }; %>
			</div>
			<hr class="style2">
    			<div class="ui top attached left">
    			    <div class="ui divided items">
    			        <% campgrounds.forEach(function(campground){ %>
            			<div class="item">
                			<div class="ui tiny rounded image">
            			        <img src=<%= campground.image %>>
        			        </div>
    			            <div class="content">
        			            <a class="header" href="/campgrounds/<%= campground._id %>"><%= campground.name %></a>
        			            <div class="meta">
            			            <span><%= moment(campground.createdAt).fromNow() %></span>
            			        </div>
                    			<div class="description">
                			        <p><%- campground.description.substring(0,100)%>...</p>
            			        </div>
            			    </div>
        			    </div>
        			    <% }); %>
   				    </div>
    			</div>
		</div>
		<div class="col-md-4">
			<h1><%= user.firstName + " " + user.lastName %></h1>
			<h4>
				<button class="ui button"><i class="add user icon"></i></button>
				<button class="ui button"><i class="mail icon"></i></button>
			</h4>
			<div class="thumbnail">
				<img src="<%= user.avatar %>" alt="user profile image">
				<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
			</div>
			<%= user.description %>
		</div>
	</div>
</div>

<% include ../partials/footer %>